<div class="container">
    <h1>Welcome to the <strong><%= title %></strong> page</h1>
    <div class="container bg-dark ">
            <div class="position-relative d-flex align-items-center justify-content-center ">
                <h1 class="display-1 text-uppercase text-info" style="-webkit-text-stroke: 1px #525252;">About Me</h1>
                
            </div>
            <div class="container">
               
                <div class="container justify-content-center " style="height:max-content;">
                  
                    <h3 class="mb-4 text-white">Web Designer & Java Programmer</h3>
                    <div class="container">
                        <picture>
                        <img src="Assets/images/Img001.jpeg " class="img-thumbnail" alt="My Picture" width="400px" height="400px" align="right" /><p class="text-white">I am a Web Designer and Java Programmer, love designing and developing Web pages while keeping an interest in java programming and some game development. I am very passionate with whatever project I take upon and make sure I provide my best at all times.
                            Below are my details.
                            </p>
                        </picture>
                        </div>
                    
                   
                    <div class="row mb-3 ">
                        <div class="text-info col-sm-6 py-2"><h6>Name: <span class="text-white">Harman Singh</span></h6></div>
                        <div class="text-info col-sm-6 py-2"><h6>Birthday: <span class="text-white">28 August 2002</span></h6></div>
                        <div class="text-info col-sm-6 py-2"><h6>Degree: <span class="text-white">Diploma in Software Engineering Technology</span></h6></div>
                        <div class="text-info col-sm-6 py-2"><h6>Experience: <span class="text-white">2 Years</span></h6></div>
                        <div class="text-info col-sm-6 py-2"><h6>Phone: <span class="text-white">+1 (778) 323 6931</span></h6></div>
                        <div class="text-info col-sm-6 py-2"><h6>Email: <span class="text-white">hsin1318@my.centennialcollege.ca</span></h6></div>
                        <div class="text-info col-sm-6 py-2"><h6>Address: <span class="text-white">123 Misty hills trail, Scarborough, CA</span></h6></div>
                        <div class="text-info col-sm-6 py-2"><h6>Freelance: <span class="text-white">Available</span></h6></div>
                    </div>
                    <div class="container" style="min-height: 30vh;">
                    <a href="/contact" class=" btn blue btn-outline-info mr-4">Hire Me</a>
                    <a href="/Content/HarmanSinghResume.pdf" target="blank" class="btn btn-outline-info">My Resume</a>
                    </div>
                </div>
            </div>
        </div>
</div>