<div class="container">
    <h1>Welcome to the <strong><%= title %></strong> page</h1>
    <div class="container bg-dark d-flex align-items-center justify-content-center mb-5 py-5" id="home" style="min-height: 100vh;">
            <div class="container">
                <div class="row align-items-center">
    
                    <div class="col-lg-7 text-center ">
                        <h3 class="text-info text-center font-weight-normal">Hello, my ntreyame is</h3>
                        <h1 class="display-3 text-uppercase text-info text-center mb-2" >Harman Singh</h1>
                        <!-- <h1 class="typed-text-output d-inline font-weight-lighter text-white"></h1> -->
                                                    <!-- <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                             <a href="" class="btn btn-white mr-4">Download CV</a>
    
                            <a href="" class="btn btn-blue d-none d-sm-block">Play Video</a> -->
                        <!-- </div> -->
                    </div>
                    <div class="col-lg-5 pb-4 pb-lg-0">
                            <img class="img-fluid rounded w-100" src="images/profile.png" alt="">
                        </div>
                    <!-- <div class="col-lg-6 px-8 pl-lg-0 pb-5 pb-lg-4 about-img">
                        <img class="img-fluid w-100 rounded-circle shadow-sm" src="images/profile.png" alt="">
                    </div> -->
                </div>
            </div>
        </div>





</div>