<div class="container">
    <h1>Welcome to the <strong><%= title %></strong> page</h1>
    <div class="container bg-dark d-flex justify-content-center mb-5 py-5" id="home" style="min-height: 100vh;">
            <div class="container">
                <div >
    
                    <div class=" text-center ">
                        <h3 class="text-info text-center font-weight-normal">Hello, my name is</h3>
                        <h1 class="display-3 text-uppercase text-info text-center mb-2" >Harman Singh</h1>
                        <h4 class="text-white bg-dark">I Believe In Trying To Be Great At Whatever I Try</h4>
                        <h5 class="text-light ">Welcome to my portfolio site, you can learn more about me and my skills by clicking on "More About Me" or click on "Services" to learn about what I can provide.</h5>
                        <p></p>
                        
                        <div class="container "style="padding: 15px;">
                        <a class="btn btn-info" href="/about" role="button" >More About Me</a>
                        <a class="btn btn-info" href="/services" role="button">Services</a>
                        </div>
                    </div>
                   
                            
                        </div>
                    
                </div>
            </div>
        </div>





</div>