<div class="container">
    <h1>Welcome to the <strong><%= title %></strong> page</h1>
    <p>Below are some of the projects I have completed. Click on the links to have a look at them!</p>
    <ul>
            <li><a href= "http://studentweb.cencol.ca/hsin1318/Comp125/Assignment5.html" target="_blank">Kirby Smasher Game</a> </li>
            <li><a href= "http://studentweb.cencol.ca/hsin1318/Comp125/Assignment6/Assignment6.html" target="_blank">Simple Photo Gallery Using JQuery</a> </li>
            <li><a href= "http://studentweb.cencol.ca/hsin1318/assignment2.html" target="_blank">Web Page About Protected Areas</a> </li>

    </ul>
</div> 