<div class="container" style="height: 1000px;" >
    <h1>Welcome to the <strong>Projects</strong> page</h1>
    
    <div class="container align-items-center justify-content-center bg-dark" style=" height: 1900px;">
        <div class="position-relative d-flex align-items-center justify-content-center ">    
    <h1 class="display-1 text-uppercase text-info" style="-webkit-text-stroke: 1px #525252;">Projects</h1>
        </div>
    <h5 class="text-white">I have worked on multiple projects during my time in college and they demonstrate my knowledge and skills ranging from games to design and even informative pages.</h4>
    <p class="text-white">Below are some of the projects I have completed. Click to have a look at them!</p>
    <ul>
            <li class="text-info"><a class="text-info" href= "http://studentweb.cencol.ca/hsin1318/Comp125/Assignment5.html" target="_blank"><strong>Kirby Smasher Game</strong> </a> </li>
            <p class="text-white">This was a simple game in which Kirby was a character that you had to click on to smash and it would get faster as your score gets higher!</p>
            <img src="Assets/images/Kirby.jpg " class="img-thumbnail" />
            <li class="text-info"><a class="text-info" href= "http://studentweb.cencol.ca/hsin1318/Comp125/Assignment6/Assignment6.html" target="_blank"><strong>Photo Gallery Using JQuery</strong> </a> </li>
            <p class="text-white">This was a photo gallery I designed using JQuery, It included a lot of images that would be shown when the user would click the button. It is simple yet Elegant.</p>
            <img src="Assets/images/PhotoGallery.jpg " class="img-thumbnail" />
            <li class="text-info"><a class="text-info" href= "http://studentweb.cencol.ca/hsin1318/assignment2.html" target="_blank"><strong>Page About Protected Areas</strong> </a> </li>
            <p class="text-white">This was a web page I designed showing information about protective areas around the world and what they are and how beneficial they are, I used a lot of hyperlinking to make it more interactive.</p>
            <img src="Assets/images/WebPage.jpg " class="img-thumbnail" />
            
    </ul>
   
    </div>
</div> 