<div class="container">
    <h1>Welcome to the <strong><%= title %></strong> page</h1>
    <div class="container bg-dark" style="height: 500px;">
            <div class=" service-h4 position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-info" >Services</h1>
               
            </div>
            <h5 class="text-light text-center">Below are the services am able to provide.</h6>
                <p></p>
            <div class="row mb-3">
                <!-- <div class="service-box col-lg-4 col-md-6 text-center mb-5"> -->
                <div class="service-box col-sm-6 col-md-6 text-center py-2">
                    <div class="d-flex align-items-center justify-content-center mb-4">
                        <i class="bg-info fa fa-2x fa-laptop service-icon bg-info text-white mr-3"></i>
                        <h4 class="text-light font-weight-bold m-0">Web Design</h4>
                    </div>
                    <p class="text-white">I provide an excellent service of designing various pages, whether to promote a product or for an organization.</p>
                    
                </div>
                <div class="service-box col-sm-6 col-md-6 text-center py-2">
                <!-- <div class="service-box col-lg-3 col-md-6 text-center mb-5"> -->
                    <div class="d-flex align-items-center justify-content-center mb-4">
                        <i class="bg-info fa fa-2x fa-laptop-code service-icon bg-primary text-white mr-3"></i>
                        <h4 class="text-light font-weight-bold m-0">Development</h4>
                    </div>
                    <p class="text-white">I can provide services in the sector of development and am experienced in some game development.</p>
                   
                </div>
                <div class="service-box col-sm-6 col-md-6 text-center py-2">
                <!-- <div class="service-box col-lg-4 col-md-6 text-center mb-5"> -->
                    <div class="d-flex align-items-center justify-content-center mb-4">
                        <i class="bg-info fab fa-2x fa-android service-icon bg-primary text-white mr-3"></i>
                        <h4 class="text-light font-weight-bold m-0">Apps Design</h4>
                    </div>
                    <p class="text-white">I am capable of designing app UI to make apps more accessible and user friendly all while looking incredible.</p>
                    
                </div>
                <div class="service-box col-sm-6 col-md-6 text-center py-2">
                <!-- <div class="service-box col-lg-4 col-md-6 text-center mb-5"> -->
                    <div class="d-flex align-items-center justify-content-center mb-4">
                        <i class="bg-info fab fa-2x fa-apple service-icon bg-primary text-white mr-3"></i>
                        <h4 class="text-light font-weight-bold m-0">Apps Development</h4>
                    </div>
                    <p class="text-white">I can develop apps of all kinds as well as mobile apps.</p>
                    
                </div>
                
            </div>
            
        </div>
        
</div>